/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1, h2, h3, h4, h5, p, div, span {
  font-family: sans-serif;
  font-size: 14px; }

p, div, span {
  font-size: 12px;
  line-height: 18px; }

h1, h2, h3, h4, h5, strong {
  font-weight: bold; }

h1 {
  font-size: 48px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 14px; }

#chart .y--axis.y--axis--monthly .domain {
  stroke-width: 2px;
  stroke: lightgray; }

#chart .y--axis.y--axis--monthly .tick line {
  stroke: lightgray; }

#chart .x--axis.x--axis--income .domain {
  stroke-width: 2px;
  stroke: lightgray; }

#chart .x--axis.x--axis--income .tick line {
  stroke: lightgray; }

#chart .current-expense {
  stroke-width: 1px;
  stroke: blue; }

#chart .bar .contribution {
  fill: #AAAAAA; }

#chart .bar .employer {
  fill: #CCCCCC; }

#chart [selected=true] .contribution {
  fill: gold; }

#chart [selected=true] .employer {
  fill: lightyellow; }

#chart .bar--value-container rect.bar-container {
  fill: lightyellow;
  stroke: gold;
  stroke-width: 3px;
  transform: translate(0px, -5px); }

#chart .bar--value-container text.bar--value {
  transform: translate(2px, 8px);
  font-family: sans-serif;
  font-size: 12px; }

#chart .income--value-container .income--container {
  fill: whitesmoke;
  stroke: lightgray;
  stroke-width: 2px;
  border-radius: 4px;
  transform: translate(0px, -5px); }

#chart .income--value-container .income--value {
  font-family: sans-serif;
  font-size: 12px;
  transform: translate(2px, 8px); }

.slider .ticks {
  font: 10px sans-serif; }

.slider .track,
.slider .track-inset,
.slider .track-overlay {
  stroke-linecap: round; }

.slider .track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px; }

.slider .track-inset {
  stroke: #ddd;
  stroke-width: 8px; }

.slider .track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  stroke: transparent;
  cursor: crosshair; }

.slider .handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px; }
