@import 'partials/reset';
@import 'partials/variables';
@import 'partials/base';


#chart {
  .y--axis.y--axis--monthly {
    .domain {
      stroke-width: 2px;
      stroke: lightgray;
    }
    .tick line {
      stroke: lightgray;
    }
  }

  .x--axis.x--axis--income {
    .domain {
      stroke-width: 2px;
      stroke: lightgray;
    }
    .tick line {
      stroke: lightgray;
    }
  }

  .contribution {
    fill: red;
  }
  .employer {
    fill: pink;
  }
}
